parameters:
  level: max
  paths:
    - src/

  ignoreErrors:
    - identifier: missingType.iterableValue
    - identifier: missingType.generics
    # callable with array syntax is not inferred
    - '#.*function call_user_func expects callable.*#'
